<a href="#" class="post-link">
    <div fxLayout="row" class="card">
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
        <section fxLayout="column" fxLayoutAlign="center center">
            <p fxFlexAlign="baseline" class="category" [style.background-color]="'red'">Sports</p>
            <p class="category-text" [style.color]="'red'">Is this real life?</p>
            <h1>The top 10 list of exotic fruits from last season</h1>
            <h4>Monotonectally pursue backward-compatible ideas without empowered imperatives. Interactively predominate low-risk high-yield ROI rather than adaptive e-tailers....</h4>
            <div fxLayout fxLayoutAlign="space-between center" class="post-details">
                <p>1 week ago</p>
                <div fxLayout class="social">
                    <mat-icon>comment</mat-icon>
                    <p>3</p>
                </div>
            </div>
        </section>
    </div>
</a>