<img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
<div class="page" fxLayout fxLayoutAlign="center">
  <div class="post mr3" fxFlex="60%" fxFlex.lt-md="95%" fxFlex.lt-lg="80%">
    <header>
      <wp-category-tag category="Sports"></wp-category-tag>
      <h1 class="title mt2">The top 10 list of exotic fruits from last season</h1>
      <div fxLayout class="post-details">
        <mat-icon>calendar_today</mat-icon>
        <p>1 week ago</p>
        <mat-icon class="comment">comment</mat-icon>
        <p>3</p>
      </div>
    </header>
    <section class="pb1">
      <h2>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum bibendum eleifend turpis quis lobortis. Etiam sed eros ut urna euismod maximus vel ut libero. Donec vel dui nec justo luctus euismod. Donec blandit ultrices vulputate. Nam ut euismod sapien, quis malesuada lacus. Praesent condimentum quam enim, ac viverra ex rutrum in. Nunc vitae justo rhoncus, gravida libero id, faucibus dolor. Mauris auctor odio eu eros condimentum efficitur. Cras elementum mollis placerat. Pellentesque eleifend congue diam id faucibus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
      </h2>
      <h2>
        Donec eget lacinia turpis, quis viverra purus. Maecenas rhoncus ex et molestie consequat. Nulla facilisi. Mauris molestie, nulla vitae congue venenatis, metus eros viverra arcu, quis gravida massa nulla id nisl. Proin ut sagittis est. Curabitur pharetra justo at libero suscipit vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas metus dolor, molestie et nisl ut, sagittis pharetra lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Integer commodo nibh sed nibh aliquam, id vehicula lectus gravida. In vehicula mi libero, a consequat turpis luctus ut. Praesent vehicula eu ipsum quis maximus.
      </h2>
      <h2>
        Etiam cursus felis vel rhoncus volutpat. Mauris interdum nulla quis eleifend dictum. Donec a massa tincidunt, egestas massa in, iaculis urna. Etiam tristique, lacus sed condimentum tristique, purus mi suscipit felis, sit amet maximus nisl dolor quis lorem. Maecenas leo augue, vehicula eget libero vitae, rhoncus accumsan libero. Nunc elementum, justo vel finibus hendrerit, lacus purus porttitor mi, id tristique nisl ante in sapien. Integer commodo volutpat turpis sed luctus. Ut in bibendum nisl. Fusce dignissim sem velit, quis consectetur dolor elementum in. Ut iaculis id ex vel ultrices. Aliquam lorem quam, commodo sit amet arcu eu, sollicitudin euismod felis. Integer volutpat eget sapien vel laoreet.
      </h2>
      <h2>
        Nulla mi felis, interdum nec volutpat id, aliquet eu orci. Nulla ullamcorper tristique rutrum. Morbi vitae tristique enim. Suspendisse potenti. Aliquam erat volutpat. Curabitur quis condimentum sem. Phasellus consequat lorem quam, at ultrices tortor aliquam ut. Aenean urna tortor, pellentesque nec pretium id, dictum ut nisl. Nam lacinia arcu et massa auctor rutrum. Praesent non mi mauris.
      </h2>
    </section>
    <h2 class="mt2">Comments(3)</h2>
    <wp-card-comment></wp-card-comment>
    <wp-card-comment></wp-card-comment>
    <wp-card-comment></wp-card-comment>
  </div>
  <aside fxHide.lt-lg>
    <wp-post-preview-sidebar title="Most Recent Posts" class="mt2 mb2"></wp-post-preview-sidebar>
    <wp-post-preview-sidebar title="Most Popular Posts" class="mt2"></wp-post-preview-sidebar>
    <wp-post-preview-sidebar title="Related Posts" class="mt2"></wp-post-preview-sidebar>
  </aside>
</div>