@import 'src/assets/styles/variables.scss';

img {
  height: 500px;
  width: 100%;
}

.page {
  .post {
    position: relative;
    margin-top: -75px;
    padding: 40px 60px 50px;
    background-color: $light;
  
    > header {
      .title {
        font-size: 40px;
        font-weight: 700;
      }
  
      .post-details {
        margin: 15px 0 25px;
  
        mat-icon {
          font-size: 18px;
          text-align: center;
        }
  
        .comment {
          margin: 2px 0 0 10px;
        }
  
        p {
          font-size: 12px;
        }
      }
    }

    > section {
      border-bottom: 1px solid $background-white;
    }
  }

  aside {
    min-width: 350px;
    width: 25%;
  }
}

@media screen and (max-width: 1279px) {
  img {
    height: 400px;
  }

  .page {
    .post {
      margin-right: 0 !important;
    }
  }
}

@media screen and (max-width: 599px) {
  img {
    height: 300px;
  }

  .page {
    .post {
      padding: 40px 10px 20px;
    }
  }
}