<div class="comment p12 mt1" fxLayout="column">
  <header fxLayout fxLayoutAlign="space-between center" class="pb1">
    <h2>User</h2>
    <p>2 days ago</p>
  </header>
  <h4 class="py2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ut rhoncus justo. Nullam faucibus mauris sollicitudin, suscipit odio a, suscipit sem. In in tristique dui. Fusce venenatis semper tincidunt. Vivamus.</h4>
  <div class="rating" fxLayout>
    <button fxLayout class="up">
      <mat-icon>keyboard_arrow_up</mat-icon>
      <h4>4</h4>
    </button>
    <button fxLayout class="down">
      <mat-icon>keyboard_arrow_down</mat-icon>
      <h4>2</h4>
    </button>
  </div>
</div>
