<a href="#">
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutAlign.xs="start start" class="card">
        <p class="category-text" [style.color]="'red'">Is this real life?</p>
        <h1>The top 10 list of exotic fruits from last season</h1>
        <div fxLayout fxLayoutAlign="space-between center" class="post-details">
            <p>1 week ago</p>
            <div fxLayout class="social">
                <mat-icon>comment</mat-icon>
                <p>3</p>
            </div>
        </div>
    </div>
</a>