.preview {
    background-image: url('https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg');
    height: 400px;
    padding: 0 10%;
    margin: 5px 1px;
    color: white;

    wp-category-tag {
        align-self: flex-start;
    }

    .post-details {
        color: white;
    }
}