<a href="#">
    <div class="preview" fxLayout="column inline" fxLayoutAlign="center center">
        <wp-category-tag category="Sports"></wp-category-tag>
        <h1>Cool Car: Add Style And Class To Your Vehicle Lorem ipsum bla bla kets gi tuafa by</h1>
        <div fxLayout fxLayoutAlign="space-between center" class="post-details">
            <p>1 week ago</p>
            <div fxLayout class="social">
                <mat-icon>comment</mat-icon>
                <p>3</p>
            </div>
        </div>
    </div>
</a>