<a href="#">
    <div fxLayout="column" fxLayout.xs="row" class="card">
        <wp-category-tag category="Sports"></wp-category-tag>
        <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" alt="">
        <section fxLayout="column" fxLayoutAlign="center center">
            <p class="category-text" [style.color]="'red'">Is this real life?</p>
            <h1>The top 10 list of exotic fruits from last season</h1>
            <div fxLayout fxLayoutAlign="space-between center" class="post-details">
                <p>1 week ago</p>
                <div fxLayout class="social">
                    <mat-icon>comment</mat-icon>
                    <p>3</p>
                </div>
            </div>
        </section>
    </div>
</a>